<div class="container">
  <form>
    <div class="row">
      <div class="col-25">
        <label for="title">Title</label>
      </div>
      <div class="col-75">
        <input type="text" id="title" placeholder="Title here.." [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="body">Body</label>
      </div>
      <div class="col-75">
        <textarea id="body" placeholder="Body here.." style="height:100px" [(ngModel)]="body" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="imageList">Image List (separated with comma)</label>
      </div>
      <div class="col-75">
        <textarea id="imageList" placeholder="e.g. http://example.com/img1.jpg,http://example.com/img2.jpg" style="height:100px" [(ngModel)]="imageStr" [ngModelOptions]="{standalone: true}"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="button" value="Add" (click)="addCard()">
    </div>
  </form>
</div>

<div *ngFor="let card of cardList">
  <app-card
    [id] = "card.id"
    [title]="card.title"
    [body]="card.body"
    [vote]="card.vote"
    [currentImage]="card.currentImage"
    (upVote)="upVote($event)"
    (downVote)="downVote($event)"
    (prevImage)="prevImage($event)"
    (nextImage)="nextImage($event)"
    (removed)="remove($event)"
  ></app-card>
</div>
