<div class="card">
  <div class="imagesContainer">
    <img src="{{currentImage}}" alt="Image">
    <div class="imageScrollers">
      <span class="imageScrollBack"><button (click)="prev(id)">&lt;</button></span>
      <span class="imageScrollNext"><button (click)="next(id)">&gt;</button></span>
    </div>
  </div>

  <div class="container">
    <h4><b>{{title}}</b></h4>
    <p>{{body}}</p>
    <div style="float: left;"><button (click)="remove(id)">&times;</button></div>
    <div class="vote">
      <button (click)="down(id)">-</button>
      {{vote}}
      <button (click)="up(id)">+</button>
    </div>
  </div>
</div>
